
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'pexels2.jpg' %>
      <div class="carousel-caption">
        <h1>Example headline.</h1>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'pexels3.jpg' %>
      <div class="carousel-caption">
        <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'pexels1.jpg' %>
      <div class="carousel-caption">
      <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
  </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<div class="container">
    <main class="row page-home">
        <!-- ACTUALITE -->
        <section class="col-s-9 home-actu">
            <div class="row">
                <div class="col-xs-12 col-s-6">
                    <h3 class="home-actu-title">Actualités</h3>
                    <a class="xs-visible col-xs-12 col-p0-l home-actu-all-xs" href="/actualites/ctip/" title="">Toutes les actualités <i class="fa fa-arrow-right"></i></a>
                </div>

            </div>
           <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
              <img class="img-responsive" src="https://ctip.asso.fr/wp-content/uploads/2016/07/klesia.png" alt="Klesia lance l&rsquo;appli Les Klés de ma santé, un jeu vidéo pour bien comprendre sa complémentaire santé" title="Klesia lance l&rsquo;appli Les Klés de ma santé, un jeu vidéo pour bien comprendre sa complémentaire santé">
           <div class="carousel-caption">
            <h4><a href="#">Klesia lance l&rsquo;appli Les Klés de ma santé, un jeu vidéo pour bien comprendre sa complémentaire santé</a></h4>
            <p>Le groupe de protection sociale Klesia vient de lancer, <strong><em>Les Klés de ma santé</em></strong>, un jeu vidéo pédagogique conçu pour sensibiliser ses assurés à l'intérêt d'être couverts par une bonne complémentaire santé
          </div>
        </div><!-- End Item -->

         <div class="item">
              <img class="img-responsive" src="https://ctip.asso.fr/wp-content/uploads/2017/01/logob2v.png" alt="L&rsquo;Observatoire B2V des Mémoires, créé par le Groupe B2V, acquiert la personnalité morale en devenant un fonds de dotation" title="L&rsquo;Observatoire B2V des Mémoires, créé par le Groupe B2V, acquiert la personnalité morale en devenant un fonds de dotation">
           <div class="carousel-caption">
            <h4><a href="#">L&rsquo;Observatoire B2V des Mémoires, créé par le Groupe B2V, acquiert la personnalité morale en devenant un fonds de dotation</a></h4>
            <p>Depuis sa création en 2013, l'Observatoire B2V des Mémoires poursuit comme objectifs de soutenir la recherche sur la mémoire et de diffuser la connaissance au plus grand nombre afin de favoriser la prévention.</p>
          </div>
        </div><!-- End Item -->

        <div class="item">
              <img class="img-responsive" src="https://ctip.asso.fr/wp-content/uploads/2016/10/Logo_TPC.png" alt="Généralisation du tiers payant : les complémentaires santé ouvrent leur portail de services  www.tpcomplementaire.fr" title="Généralisation du tiers payant : les complémentaires santé ouvrent leur portail de services  www.tpcomplementaire.fr">
           <div class="carousel-caption">
            <h4><a href="#">Généralisation du tiers payant : les complémentaires santé ouvrent leur portail de services  www.tpcomplementaire.fr</a></h4>
            <p>Les complémentaires santé ont ouvert leur portail de services destiné aux professionnels de santé de ville. Désormais, ceux-ci peuvent, s’ils le souhaitent, signer un seul contrat de tiers payant avec l’ensemble des complémentaires santé et leurs opérateurs de tiers payant. Une assistance téléphonique est également disponible pour les informer et les guider tout au long de leur inscription.</p>
          </div>
        </div><!-- End Item -->

        <div class="item">
         <img class="img-responsive" src="https://ctip.asso.fr/wp-content/uploads/2016/06/CP-CTIP.png" alt="Nouvelle présidence paritaire au CTIP" title="Nouvelle présidence paritaire au CTIP">
         <div class="carousel-caption">
            <h4><a href="#">magna aliquyam erat, sed diam voluptua</a></h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
          </div>
        </div><!-- End Item -->

        <div class="item">
          <img src="http://placehold.it/760x400/dddddd/333333">
           <div class="carousel-caption">
            <h4><a href="#">tempor invidunt ut labore et dolore magna aliquyam erat</a></h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
          </div>
        </div><!-- End Item -->

      </div><!-- End Carousel Inner -->


    <ul class="list-group col-sm-4">
      <li data-target="#myCarousel" data-slide-to="0" class="list-group-item active"><h4>Klesia lance l&rsquo;appli Les Klés de ma santé, un jeu vidéo pour bien comprendre sa complémentaire santé</h4></li>
      <li data-target="#myCarousel" data-slide-to="1" class="list-group-item"><h4>L&rsquo;Observatoire B2V des Mémoires, créé par le Groupe B2V, acquiert la personnalité morale en devenant un fonds de dotation</h4></li>
      <li data-target="#myCarousel" data-slide-to="2" class="list-group-item"><h4>Généralisation du tiers payant : les complémentaires santé ouvrent leur portail de services  www.tpcomplementaire.fr</h4></li>
      <li data-target="#myCarousel" data-slide-to="3" class="list-group-item"><h4>magna aliquyam erat, sed diam voluptua</h4></li>
      <li data-target="#myCarousel" data-slide-to="4" class="list-group-item"><h4>tempor invidunt ut labore et dolore magna aliquyam erat</h4></li>
    </ul>

      <!-- Controls -->
      <div class="carousel-controls">
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
      </div>

    </div><!-- End Carousel -->
</div>


        </section>
    </main>
</div>
        <!-- fin actualité -->
<div class=" text-center padded features">
  <div class= "cantainer">
      <div class="row">
      <div class="banner-content">
        <div class="col-lg-4">
          <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Heading</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div>
      </div><!-- /.row -->
  </div>
</div>

                    <h3 class="home-actu-title">Base Documentaire</h3>
                    <a class="xs-visible col-xs-12 col-p0-l home-actu-all-xs" href="/actualites/ctip/" title="">Toutes les Publications <i class="fa fa-arrow-right"></i></a>
                    <br>

<div class="banner">
  <div id="custom_carousel" class="carousel slide" data-ride="carousel" data-interval="2500">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="container-fluid">
              <div class="row">
                <div class="col-md-3"><%= image_tag "pexels3.jpg", width: 350, height: 250 %></div>
                  <div class="col-md-9">
                      <h2>Slide 1</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, labore, magni illum nemo ipsum quod voluptates ab natus nulla possimus incidunt aut neque quaerat mollitia perspiciatis assumenda asperiores consequatur soluta.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, labore, magni illum nemo ipsum quod voluptates ab natus nulla possimus incidunt aut neque quaerat mollitia perspiciatis assumenda asperiores consequatur soluta.</p>
                          <%= link_to 'DECOUVRIR', class: 'btn btn-primary btn-lg' %>
                  </div>
              </div>
          </div>
        </div>
        <div class="item">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3"><%= image_tag "pexels3.jpg", width: 350, height: 250 %></div>
              <div class="col-md-9">
                <h2>Slide 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, labore, magni illum nemo ipsum quod voluptates ab natus nulla possimus incidunt aut neque quaerat mollitia perspiciatis assumenda asperiores consequatur soluta.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, labore, magni illum nemo ipsum quod voluptates ab natus nulla possimus incidunt aut neque quaerat mollitia perspiciatis assumenda asperiores consequatur soluta.</p>
              <%= link_to 'DECOUVRIR', class: 'btn btn-primary btn-lg' %>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3"><img src="http://placehold.it/350x250" class="img-responsive"></div>
                    <div class="col-md-9">
                        <h2>Slide 4</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, labore, magni illum nemo ipsum quod voluptates ab natus nulla possimus incidunt aut neque quaerat mollitia perspiciatis assumenda asperiores consequatur soluta.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, labore, magni illum nemo ipsum quod voluptates ab natus nulla possimus incidunt aut neque quaerat mollitia perspiciatis assumenda asperiores consequatur soluta.</p>
                            <a class="btn btn-primary btn-lg">GET IT</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3"><img src="http://placehold.it/350x250" class="img-responsive"></div>
                    <div class="col-md-9">
                        <h2>Slide 3</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, labore, magni illum nemo ipsum quod voluptates ab natus nulla possimus incidunt aut neque quaerat mollitia perspiciatis assumenda asperiores consequatur soluta.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, labore, magni illum nemo ipsum quod voluptates ab natus nulla possimus incidunt aut neque quaerat mollitia perspiciatis assumenda asperiores consequatur soluta.</p>
                    </div>
                </div>
            </div>
        </div><!-- End Item -->
      </div><!-- End Carousel Inner -->
      <div class="controls">
          <ul class="nav">
              <li data-target="#custom_carousel" data-slide-to="0" class="active"><a href="#"><%= image_tag "pexels3.jpg", width: 50, height: 50 %><small>Infographie</small></a></li>
              <li data-target="#custom_carousel" data-slide-to="1"><a href="#"><%= image_tag "pexels1.jpg", width: 50, height: 50 %><small>Video</small></a></li>
              <li data-target="#custom_carousel" data-slide-to="2"><a href="#"><%= image_tag "pexels2.jpg", width: 50, height: 50 %>><small>Quizz</small></a></li>
              <li data-target="#custom_carousel" data-slide-to="3"><a href="#"><%= image_tag "pexels1.jpg", width: 50, height: 50 %><small>Guides </small></a></li>
          </ul>
      </div>
    </div>
  </div>
</div>




